#store-map--search-form .store-map__search-options {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 1rem;
    align-items: flex-end;
}


.store-map__search-options--col {
    flex: 0 0 auto;
}

.store-map__search-options--col input,
.store-map__search-options--col select
{
    max-width: 100%;
    width: 100%;
}

.store-map__search-options--col.can-grow {
    flex: 1 1 auto;
    max-width: 100%;
}
@media screen and (max-width: 400px) {
    #store-map--search-form .store-map__search-options {
        flex-wrap: wrap;
    }
    .store-map__search-options--col {
        flex-wrap: wrap;
    }
    .store-map__search-options--col.can-grow {
        flex: 1 0 100%;
        max-width: 100%;
    }
}
.store-map__search-options--col.can-grow {
    flex: 1 1 auto;
    max-width: 100%;
}

.store-map-link {
    text-align: center;
}

.store-map__search {
    margin-bottom: 1.5rem;
}
.store-map__response-map-container {
    order: 1;

}
.store-map__response-map-container #store-map--google-map {
    height: 600px;
    max-height: 100vh;
}

.store-map__response {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.store-map__response-list {
    flex: 1 1 25%;
}

.store-map__response-map-container {
    flex: 1 1 75%;
    height: auto;
}



#store-map--search-results {
    display: block;
    order: 2;
    height: 600px;
    max-height: 100vh;
    overflow: auto;
}

#store-map--search-results .customer-link {
    cursor: pointer;
    padding: 2px;
    transition: background-color ease-in-out 250ms;
    line-height: 1.5;
}

#store-map--search-results .customer-link:hover {
    background-color: rgba(var(--color-background-contrast), 0.1);
}


#store-map--search-results .customer-link address {
    font-style: italic;
}

#store-map--search-results .store-map__customer {
    width: 100%;
    margin-bottom: 5px;
    padding: 5px;
    text-align: left;
    font-size: 0.85rem;
    color: var(--chums-body-color);
    border: 1px solid transparent;
    box-shadow: 0 0 3px 0 transparent;
    transition: all 250ms ease-in-out;
    cursor: pointer;
}
#store-map--google-map .store-map__customer__name,
#store-map--search-results .store-map__customer__name {
    white-space: normal;
    font-weight: bold;
}

@media (min-width: 576px) {
    #store-map--search-results {
        order: 1;
    }
    .store-map .store-map__response-map-container {
        order: 2;
    }
}

#store-map--message.alert {
    padding: 0.5rem;
}
#store-map--message.alert.alert-info {
    background-color: var(--palette-info-light);
    color: var(--colorAnnouncementText);
}
#store-map--message.alert.warning {
    background-color: var(--palette-warning-dark);
    color: var(--colorAnnouncementText);
}

